@keyframes flow {
  from {
    background-position: 200% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}

.gradient-flow-text:hover {
  background-size: 200% 200%;
  animation: flow 5s linear infinite;
}