@keyframes hide {
  from {
    height: 100vh;  
  }
  to {
    height: 0;
  }
}

.hide {
  animation-delay: 2s;
  animation-name: hide;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}